.my-navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, .87)
}

.my-navbar>ul>li{
    display: inline-block;
    width: 6rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    text-align: center;
    
}
.my-navbar>ul>li:hover a{
    color: #fff
}
.my-navbar>ul>li+li{
    border-left: 1px solid #e3e3e3;;
}
.my-navbar>ul>li>a{
    color: #d8d8d8
}

.container,.user-container{
    /* margin-top: 1rem; */
    height: 100%
}

.text-algin{
    text-align: center;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 44px;
    /* width: 162px; */
    top: 0;
    bottom: 0;
    font-size: 1.8rem;
}


.user-container{
    display: flex
}

.content-left{
    width: 200px
}
.content-left {
    background: #61616194
}
.content-left ul li a{
    color: #fff
}
.content-left ul li{
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    text-align: center;
}
.content-right{
    flex: 1 1;
    position: relative;
    background: #666;
    color: #fff;
}